*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContactUsContainer{
    width: 80%;
    margin: auto;
    
}
.ContactUsContainer label {
    display: block;
  }
  
  .ContactUsContainer input,.ContactUsContainer textarea {
    width: 90%;
    padding: .5em;
    margin-bottom: .8em .1em;
    box-sizing: border-box;
  }
  
  .ContactUsContainer button {
    
    border-radius:1em;
    background-color:#5476ff;
    color: white;
    padding: .6em 1.2em;
    border: none;
    cursor: pointer;
    margin: 1em;
  }
  
  .ContactUsContainer button:hover {
    background-color:#0000f4;
  }


  .ContactUsContainer .formContainer{
    display: flex;
  }
  .ContactUsContainer .contactForm{
    width: 50%;
    margin: auto;
    margin: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ContactUsContainer .title{
      color: #3f3fd5;
  }
  .ContactUsContainer{
    
  }
  .ContactUsContainer{
    
  }
  .ContactUsContainer{
    
  }
  .ContactUsContainer{
    
  }