/* body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */
#container{
    /* border: 1px solid red; */
    max-width: 1280px;
    margin: auto;
    padding: 5px;
    /* height: 80vh; */
}

.card{
    /* border: 1px solid red; */
   
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.card1{
    /* border: 1px solid red; */
    max-width: 250px;
    height: 150px;
    display: flex;
    margin: 15px ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.3s;
}
.card1:hover {
    transform: scale(1.1); 
  }
.card1 .info{
    width: 70%;
    padding-left: 10px;
}
.card1 .info h4{
    margin: 0;
    padding-top: 15px;
}
.card1 .info p:nth-child(2){
    margin: 0;
    padding-top: 5px;
    font-size: 0.9rem;
    color: rgb(108, 107, 107);

}
.card1 .info p:nth-child(3){
    padding-top: 20px;
    /* border: 1px solid red; */
    color: blue;
    cursor: pointer;
}
.card1 div:nth-child(2){
    padding-top: 15px;
    width: 20%;
}
.card1 div:nth-child(2) img{
    width: 100%;
}

    /* border: 1px solid red; */
    /* width: 77%;
    margin: auto;
    color: blue;
    margin-top: 15px; */